@import 'src/styles/root';

.container {
    display: flex;
    flex-direction: row !important;
    padding: 10px;
    background-color: $main-color;
    color: $text-light;
    align-items: center;
    justify-content: space-between;
}

.appName {
    font-weight: bold;
    font-size: $text-title;
}
